table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

tr:first-child {
    background-color: red;
}

tr:nth-child(2) {
    background-color: yellow;
}
